/*sections------------------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Grids ------------------------------------------------------------------- */
.grid {
    display: grid; 
    grid-gap: 0;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 10vh 110vh 90vh 180vh 20vh 85vh;
    grid-template-areas: 
        "head head head"
        "hero hero hero"
        "About About About"
        "myWork myWork myWork"
        "bottomWork bottomWork bottomWork"
        "contact contact contact";
    
}
.head {
    grid-area: head;
}

.hero {
    grid-area: hero;
    display: grid;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: -10vh;
    background-image:url(../images/HERO_1.1.png);
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 10vh 20vh;
    grid-template-areas: 
        "hero-img"
        "heroTxt"
        "heroTxt1";
}
.About{
    grid-area: About;
    background-size: cover;
    background-position: center;
    background-image:url(../images/ABOUT_1.1.png);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 50vh;
    grid-template-areas: 
    "aboutMeHead"
    "aboutMe";
}
.aboutMeHead{
    grid-area: aboutMeHead;
    margin-top: 5vh;
    margin-right: 30%;
    margin-top: -10vh;
    position: absolute;
    margin-left: 2vh;
}
.aboutMe {
    grid-area: aboutMe;
    display: grid;
    grid-template-columns:1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
        "aboutMeTxt aboutMeTxt aboutMeTxt";
}
.myWork {
    padding: 10px;
    grid-area: myWork;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 40vh 40vh 40vh 40vh;
    grid-template-areas: 
        "myWorkHead"
        "workTxt1"
        "workTxt2"
        "workTxt3" 
        "workTxt4";
}
.bottomWork{
    grid-area: bottomWork;
}
.contact{
    grid-area: contact;
    display: grid;
    background-size: cover;
    background-position: center;
    background-image:url(../images/CONTACT_1.1.png);
    grid-template-columns: 1fr;
    grid-template-rows: 80px 50vh 15vh 5vh;
    grid-template-areas: 
        "contactHead"
        "contactForm"
        "footer-social-icons"
        "footerTxt";
}
/* headings------------------------------------------------------------------- */
h1	{
    text-align: center;
}
p{
    text-align: left;
    padding-left: 2vh;
}
/* header ------------------------------------------------------------------- */
.header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "header-left . header-right";
    background-color: rgba(0, 0, 0, 0.19);
}
.header-right-2{
    display: none;
}
.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 50px;
    border-radius: 4px;
}
.header a.logo {
    height: 5vh;
    width: 5vh;
    margin:10px;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
}
.header a.logo:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.header-right {
    grid-area: header-right;
}
.header-left {
    grid-area: header-left;
} 

.nav-animation {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
    height: 4vh;
}
  
.nav-animation:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

/* Navigation ---------------------------------------------------------------- */
.hidden-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 105%;
  transition: .5s cubic-bezier(0.41, -0.34, 0.62, 1.29);
  z-index: 2;
}
.hidden-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  padding: 5vh;
  transition: .3s ease-out;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  padding: 5px;
  position: fixed;
  top: 15px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
  width: 30px;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: white;
  margin: 7px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

.menu-away{
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/*Hero image------------------------------------------------------------------- */
.heroTxt{
    grid-area: heroTxt;
    text-align: center;
    position: relative;
    color: white;
    font-size: 8vh;
    margin-top: 1vh;

}
.heroTxt1{
    grid-area: heroTxt1;
    text-align: center;
}
.hero-img{
    grid-area: hero-img;
    margin-top: 15vh;
    background-image: url("../images/face-main.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-img-big{
    display: none;
}
/*About Me ------------------------------------------------------------------- */
.aboutMeTxt {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    grid-area: aboutMeText;
    margin-top: -10vh;
}
.hr_title{
    width: 40vh;
}
/*My work ------------------------------------------------------------------- */
img{
    width: 100%;
}
.myWorkHead{
    text-align: center;
    grid-area: myWorkHead;
    margin-top: -2vh;
}
.workTxt1{
    grid-area: workTxt1;
    background-image: url(../images/Project_pink.png);
}
.workTxt2{
    grid-area: workTxt2;
    background-image: url(../images/Project_dots_3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.workTxt3{
    grid-area: workTxt3;
    background-image: url(../images/Project_pink.png);
}
.workTxt4{
    grid-area: workTxt4;
    background-image: url(../images/Project_cross.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
hr{
    border: 1px solid orange;
}
.modal1Img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal2Img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal3Img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal4Img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modalTxt1{
    display: none;
}
.modalTxt2{
    display: none;
}
.modalTxt3{
    display: none;
}
.modalTxt4{
    display: none;
}
h3{
    text-align: left;
    padding-left: 2vh;
    font-size: 3.5vh;
    grid-area: h3;
}
.titleHr{
    grid-area: titleHr;
}
h4{
    text-align: left;
    margin: 2vh;
    font-size: 2.5vh; 
    grid-area: h4;
}
h5{
    text-align: left;
    padding-left: 2vh;
    font-size: 2vh;
    margin-top: 0;;
}
#overview{
    grid-area: overview;
}
/*My work modal-------------------------------------------- */
.modalBox {
    margin: 0 auto;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    grid-template-areas: 
        "titleHr titleHr"
        "h4 tileImgs"
        "overview tileImgs"
        "modalButton tileImgs";
}

.tileImgs{
    grid-area: tileImgs;
}

.modalButton {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-size: 3vh;
    color: black;
    font-style: italic;
    grid-area: modalButton;
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
    margin-bottom: 5vh;
}  
  .modalButton:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

.overlay {
    position: fixed;
    top: 0;
     bottom: 0;
    left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.7);
     transition: opacity 500ms;
     visibility: hidden;
     opacity: 0;
    overflow: auto;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.modal {
    margin: 70px auto;
    margin-bottom: 0;
    padding: 20px;
    position: relative;
    background-image: url(../images/Project_pink.png);
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 8vh;
    text-decoration: none;
    color: #333;
}

/* Contact ------------------------------------------------------------------*/

.contactHead{
    grid-area: contactHead;
    margin-top: -5vh;
}
.contactLine{
    width: 50%;
}
/* Form ------ */  
.contactForm {
    grid-area: contactForm;
    width: 80%;
    margin-left: 4vh;
    margin-top: -5vh;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] 
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid orange;
    border-radius: 1.5vh;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 2vh;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid orangered;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: orange;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 1.5vh;
    width: 50%;
    margin-left: 25%;
  }
  
  #contact button[type="submit"]:hover {
    background: orangered;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid orangered;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }

/* Footer ------------------------------------------------------------------*/
.footerTxt{
    grid-area: footerTxt;
    text-align: center;
    font-size: 2vh;
}
/* Icons -----------------*/
.footer-social-icons{
    grid-area: footer-social-icons;
    text-align: right;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
.icon-txt {
    text-align: right;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: black;
    text-decoration: none;
}
.fa-pinterest {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
    border-radius: 25%;
}
.fa-pinterest:hover {
    background-color: red;
}
.fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
    border-radius: 25%;
}
.fa-instagram:hover {
    background-color: #E1306C;
}
.fa-behance {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
    border-radius: 25%;
}
.fa-behance:hover {
    background-color: #053eff;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
    border-radius: 25%;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
    border-radius: 25%;
}
.fa-github:hover {
    background-color: #5a32a3;
}

/*Wider Screens------------------------------------------------------------------*/
@media (min-width: 750px){
    .grid {
    display: grid; 
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 115vh 90vh 140vh 60vh 90vh;
    grid-template-areas: 
        "head head head"
        "hero hero hero"
        "About About About"
        "myWork myWork myWork"
        "bottomWork bottomWork bottomWork"
        "contact contact contact";
    
    }

    h1{
        font-size: 6vh;
    }
    /* Nav --------------------------------------------*/
    .header {
        display: block;
    }

    a.logo{
        width:10vh;
        width:10vh; 
    }
    .header-right{
        display: none;
    }
    .header-right-2 {
        overflow: hidden;
        display: block;
        grid-area: header-right-2;
    }
    
    .header-right-2 a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    /* Hero --------------------------------------------*/
    .hero{
        grid-template-columns: 20px 60vh 1fr 20px;
        grid-template-rows: 35vh 10vh 60vh;
        grid-template-areas: 
            ". . hero-img-big ."
            ". heroTxt hero-img-big ."
            ". heroTxt1 hero-img-big .";
    }
    .heroTxt{
        margin-left: 20%;
    }
    .heroTxt1{
        margin-left: 20%;
    }
    .hero-img{
        display: none;
    }
    .hero-img-big{
        grid-area: hero-img-big;
        display: block;
        margin-top: 10vh;
        width: 70%;
        margin-left: 20%;
    }

    /* About --------------------------------------------*/
    .aboutMeHead{
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 50%;
    }
    .aboutMeTxt {
    padding-left: 15vh;
    padding-right: 15vh;
    margin-top: 8vh;
    }
    .hr_title{
        width: 85vh;
    }

    /* Work --------------------------------------------*/
    .myWork {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 95px 60vh 60vh 45vh;
        grid-template-areas: 
            "myWorkHead myWorkHead"
            "workTxt1 workTxt2"
            "workTxt3 workTxt4"
            ". .";
    }
    .myWorkHead{
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 50%;
    }
    .workTxt3{
        background-image: url(../images/Project_cross.png); 
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    }
    .workTxt4{
        background-image: url(../images/Project_pink.png);
    }
    .modalTxt1{
        display: block;
    }
    .modalTxt2{
        display: block;
    }
    .modalTxt3{
        display: block;
    }
    .modalTxt4{
        display: block;
    }
    .tileImgs{
        margin-top: 2.5vh;
        width: 90%;
    }
    .tileImgs:hover{
        transform: scale(1.1);
        transition-duration: 0.3s;
    }
    .modalButton{
        margin-right: 5vh;
        margin-left: 5vh;
    }
    .modalBox {
        grid-gap: 10px;
        margin: 1vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 5vh 30vh 10vh;
        grid-template-areas: 
            "titleHr titleHr"
            "h4 tileImgs"
            "overview tileImgs"
            "modalButton tileImgs";
    }

    /* Contact --------------------------------------------*/
    .contact{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr 13vh 5vh;
        grid-template-areas: 
            "contactHead contactHead contactHead"
            "contactForm contactForm ."
            ". . footer-social-icons"
            ". footerTxt .";
    }
    .contactForm{
        width: 100%;
        margin-top: 10vh;
    }
    .contactHead{
        margin-top: -10vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 50%;
    }
    form{
        width: 80%;
        float: left;
        margin-left: 5vh;
        margin-top: -5vh;
    }
    .message{
        height: 10vh;
    }
    input[type=submit]{
    width: 20%;
    }

}


